* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color:#f5f7f6;
}

button {
  cursor: pointer;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 130px;
  align-items: center;
  cursor: pointer;
}

.nav__links {
  display: flex;
  gap: 50px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  color: #363853;
}

li {
  transition: 0.2s;
}

li:hover {
  color: #FF6838;
}

.nav__logo {
  font-size: 33px;
  font-weight: 600;
  color: #363853;
}

span {
  color: #FF6838;
}

.nav__btn, .sec-1__btn, .sec-2__btn {
  border: none;
  background-color: #FF6838;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  padding: 18px 30px;
  box-shadow: 0px 0px 30px #FF6838;
}

/* Section 1 */
.sec-1 {
  display: flex;
  padding: 30px 100px;
}

.sec-1__texts {
   margin-top: 110px;
}

.sec-1__text-1 {
  font-size: 66px;
  font-weight: 600;
  color: #363853;
  line-height: 80px;
  padding-bottom: 30px;
}

.sec-1__text-2 {
  font-size: 20px;
  font-weight: 500;
  color: #363853;
  width: 513px;
  line-height: 30px;
  padding-bottom: 50px;
}

/* Section 2 */
.sec-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.sec-2__texts {
  display: flex;
  flex-direction: column;
  gap: 130px
}

.sec-2__text-1 {
  width: 384px;
  font-size: 36px;
  font-weight: 600;
  color: #363853;
  line-height: 55px;
}

.sec-2__text-2 {
  font-size: 20px;
  font-weight: 400;
  width: 449px;
  color: #363853;
  line-height: 30px;
}

.sec-2__btn {
  width: fit-content;
  border-radius: 50px 50px 5px 50px;
  padding: 18px 50px;
}


/* Section 3 */
.sec-3__cards {
  display: flex;
  justify-content: center;
  gap: 55px;
  padding-bottom: 200px;
}

.sec-3__text {
  display: flex;
  justify-content: center;  
  font-size: 36px;
  font-weight: 600;
  color: #363853;
  margin: 70px;
}

.sec-3__box {
  background-color: #fff;
  padding-bottom: 30px;
  border-radius: 50px 0px 50px 0px;
}

.sec-3__text-1 {
  font-size: 24px;
  font-weight: 500;
  color: #363853;
  padding-top: 25px;
  padding-left: 25px;
}

.sec-3__text-2 {
  font-size: 18px;
  color: #363853;
}

.sec-3__texts {
  padding-top: 20px;
  padding-left: 20px;
}

.sec-3__texts {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sec-3__btn {
  border-radius: 50px 50px 5px 50px;
  padding: 7px 30px;
  background-color: #FF6838;
  border: none;
  color: #fff;
  font-size: 18px;
}

/* Section 4 */
.sec-4 {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 100px;
}

.sec-4__text-1 {
  font-size: 36px;
  font-weight: 600;
  color: #363853;
  padding-bottom: 50px;
}

.sec-4__text-2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  width: 538px;
  color: #363853;
}

.sec-4__texts {
  margin-top: 130px;
  margin-left: 160px;
}

.sec-4__images {
  position: relative;
}

.sec-4__img-2 {
  position: absolute;
  bottom: 30px;
  left: 180px;
  z-index: 1;
}

.sec-4__img-3 {
  position: absolute;
  top: 0px;
  left: 280px;
}

/* Footer */
 footer {
  margin-top: 200px;
  margin-bottom: 100px;
 }

.footer {
  background-color: #FF7A50;
  width: 1170px;
  height: 312px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

input {
  border: none;
  padding: 30px 30px;
  border-radius: 50px;
  width: 838px;
  font-size: 18px;
  color: #363853;
  font-weight: 500;
}

input::placeholder {
  color: #363853;
}

.footer__btn {
  padding: 17px 55px;
  color: #fff;
  background-color: #FF7A50;
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid black;
  position: absolute;
  right: 320px;
  margin-top: 10px;
}